    <div class="articles">
    	<ul>
    		{{#each articles }}
    		<div class="panel panel-default">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">{{title}}</h3>
    		  </div>
    		  <div class="panel-body">
    		    <a href={{link}}>{{link}}</a>
    		    <button data-id={{_id}} class="btn btn-danger pull-right delete">Delete from Saved</button>
                <button data-id={{_id}} class="btn btn-success pull-right comments">Comments</button>
    		  </div>
    		</div>
    		<br />
    		<br />
    		{{/each}}
    	</ul>
    </div>
